<?xml version="1.0" encoding="UTF-8" ?>
<configuration status="off" monitorInterval="1800">
<properties>
    <property name="LOG_HOME">/Users/tsinyi/Documents/logs</property>
    <!--  日志备份目录 -->
    <property name="STAT_NAME">stat</property>
    <property name="SERVER_NAME">thread-web</property>
</properties>
<appenders>
    <!-- 控制台日志 -->
    <Console name="CONSOLE" target="SYSTEM_OUT">
        <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss,SSS} %t %l %m%n"/>
    </Console>
    <!--  滚动文件日志 -->
    <RollingRandomAccessFile name="RF" fileName="${LOG_HOME}/${SERVER_NAME}.log" filePattern="${LOG_HOME}/${SERVER_NAME}.%i.log">
        <PatternLayout pattern="[${SERVER_NAME}] [%d{yyyy-MM-dd HH:mm:ss.SSS}] [%t] %-5p => %c.%M(%F:%L) - %m%n" />
        <Policies>
            <!--  日志文件大小 -->
            <SizeBasedTriggeringPolicy size="50MB" />
        </Policies>
        <!--  最多保留文件数 -->
        <DefaultRolloverStrategy max="20" />
    </RollingRandomAccessFile>
</appenders>
<loggers>
    <!--  Root Logger -->
    <root level="debug" includeLocation="true">
        <appender-ref ref="RF" />
        <appender-ref ref="CONSOLE" />
    </root>
</loggers>
</configuration>